<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Web Development API Task - Heather Stock</title>
  </head>
  <body>
    <h1>Web Development API Task</h1>

    <form action="/users" method="post">

      <div class="form-element">
        <label>Forename</label>
        <input id="input-forename" type="text" name="forename">
      </div>

      <div class="form-element">
        <label>Surname</label>
        <input id="input-surname" type="text" name="surname">
      </div>
        
      <div class="form-element">
        <label>Email</label>
        <input id="input-email" type="email" name="email">
      </div>

      <button type="submit" id="add-user">Add User</button>
    </form>
    <a id="view-all" href="/users">View all users</a>

  </body>
</html>