<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>List of Users</title>
  </head>
  <body>
    <h1>List of Users</h1>

    <ul>
      <% for(let i = 0; i < users.length; i++){ %>
        <li>
          <strong><%= users[i].surname %>, <%= users[i].forename %></strong>
          <a href="/users/<%= users[i]._id %>" id="edit-user">View / edit user</a>
        </li>
      <% } %>
      </ul>

    <a id="index" href="/">Back</a>

  </body>
</html>